@model FacebookLoginTesting.Models.Post

@{
    ViewBag.Title = "CreatePost";
}

<h2>CreatePost</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)
        @*<div class="form-group">
            @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            Blood Type
            <div class="col-md-10">
                @Html.EditorFor(model => model.BloodType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BloodType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                        Age
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           Hospital Location
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           Type Of Illness
            <div class="col-md-10">
                @Html.EditorFor(model => model.Illness, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Illness, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           Phone Number
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div style="color:red; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> @ViewBag.Message</div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="btn btn-light btn-sm">
    @Html.ActionLink("Back To Posting", "Posting", new { id = "", @class = "btn btn-light js-scroll-trigger" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
